{# templates/configuracion.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="CSS/perfil.css">
</head>
<body>
    <div id="datos-perfil">
        <form action="{{ path('cambiar_nombre') }}" method="post">
            <label for="nuevo_nombre">Nuevo Nombre de Usuario:</label>
            <input type="text" id="nuevo_nombre" name="nuevo_nombre" required>
            <button type="submit">Cambiar Nombre</button>
        </form>
        <form action="{{ path('cambiar_apellidos') }}" method="post">
            <label for="nuevo_apellidos">Nuevos Apellidos de Usuario:</label>
            <input type="text" id="nuevo_apellidos" name="nuevo_apellidos" required>
            <button type="submit">Cambiar Apellidos</button>
        </form>
        
        <form action="{{ path('cambiar_contrasena') }}" method="post">
            <label for="nueva_contrasena">Nueva Contrase침a:</label>
            <input type="password" id="nueva_contrasena" name="nueva_contrasena" required>
            <button type="submit">Cambiar Contrase침a</button>
        </form>
        
        <form action="{{ path('cambiar_correo') }}" method="post">
            <label for="nuevo_correo">Nuevo Correo:</label>
            <input type="email" id="nuevo_correo" name="nuevo_correo" required>
            <button type="submit">Cambiar Correo</button>
        </form>
        
        <form action="{{ path('cambiar_direccion') }}" method="post">
            <label for="nueva_direccion">Nueva Direcci칩n:</label>
            <input type="text" id="nueva_direccion" name="nueva_direccion" required>
            <button type="submit">Cambiar Direcci칩n</button>
        </form>
         <form action="{{ path('borrar_cuentan') }}" method="post">
            <button type="submit">Borra Cuenta</button>
        </form>
    </div>
  </body>
</html>
