{# templates/inicio.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="CSS/inicio.css">
</head>
<body>
    <section>
        <img src="IMG/ps5.jpg">
        <img src="IMG/xbox.jpg">
        <img src="IMG/switch.jpg">
        <img src="IMG/pc.jpg">
    </section>
    
    {% include 'cabecera.html.twig' %}

    <div id="novedades" class="caja-inicio">
        <b>Nuevos lanzamientos</b>
        <div class="juegos-lanzamientos">
            {% for juego in juegosLanzados %}
                <a href="{{ path('juego_detalle', {'id': juego.idJuego}) }}" class="juego-enlace">
                    <div class="juego-imagen">
                        <img src="{{ asset(juego.imagen) }}" alt="{{ juego.nombreJuego }}">
                    </div>
                    <span><b>{{ juego.nombreJuego }}</b></span>
                </a>
            {% endfor %}
        </div>
    </div>

    <div id="lanzamientos" class="caja-inicio">
        <b>Próximos lanzamientos</b>
        <div class="juegos-lanzamientos">
            {% for juego in juegos %}
                <a href="{{ path('juego_detalle', {'id': juego.idJuego}) }}" class="juego-enlace">
                    <img src="{{ asset(juego.imagen) }}" alt="{{ juego.nombreJuego }}">
                    <span><b>{{ juego.nombreJuego }}</b></span>
                </a>
            {% endfor %}
        </div>
    </div>

    <div id="ofertas" class="caja-inicio">
        Ofertas
    </div>

    {# <div id="mercadillo" class="caja-inicio">
        Mercado 2ª Mano
    </div> #}

