{# templates/login.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="CSS/registro.css">
</head>
<body>
    <div id="cabecera">
        <table>
            <tr>
                <td><a href="{{path('inicio')}}">Inicio</td>
                <td>2ª Mano</td>
                <td>Ofertas</td>
                {% if app.User is not null %}
                <td><a href="{{path('perfil')}}">Perfil</td>
                {% else %}
                <td><a href="{{path('login')}}">Regístrate/Login</td>
                {% endif %}
            </tr>
        </table>
    </div>

    <div id="contenedor">
        <form action="{{path('procesar_login')}}" method="POST" onsubmit="return validarRegistro(event)">
        <p>Usuario: <input type="text" name="_username" id="nombre" class="registro"><br></p>
        <p>Contraseña: <input type="password" name="_password" id="contrasena" class="registro"><br></p>
        <input type="submit" value="Login" id="submit" class="boton"><br>
        <p><a href="{{path('registro')}}">Regístrate si no tienes cuenta</p>
    </div>
</body>
</html>
