{# templates/perfil.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{asset('CSS/perfil.css')}}">
</head>
<body>
    {% include 'cabecera.html.twig' %}
    <div id="foto-perfil">
        Foto de perfil
    </div>

    <div id="datos-perfil">
        <table>
            <tr>
                <td>Nombre: {{app.user.nombreUsuario}}</td>
                <td>Email: {{app.user.email}}</td>
                <td>Saldo: {{app.user.saldo}}</td>
            </tr>
            <tr>
                <td>Apellidos: {{app.user.apellidoUsuario}}</td>
                <td>Dirección: {{app.user.direccion}}</td>
                <td>Valoración: {{app.user.valoracion}}</td>
            </tr>
        </table>
    </div>

    <div id="editar" class="cajas-perfil">
        <b2>Editar Perfil</b2>
        <form id="edit-profile-form" method="POST">
            <label for="attribute">Selecciona el atributo a editar:</label>
            <select id="attribute" name="attribute">
                <option value="nombre">Nombre</option>
                <option value="apellidos">Apellidos</option>
                <option value="direccion">Dirección</option>
                <option value="correo">Correo</option>
            </select>
            <div id="attribute-input">
                <!-- Campo para ingresar el nuevo valor -->            </div>
            <button type="submit">Guardar</button>
        </form>
    </div>

    <div id="reservas" class="cajas-perfil">
        Reservas pendientes
    </div>

    {# <div id="inventario" class="cajas-perfil">
        Mis productos
    </div>

    <div id="ventas" class="cajas-perfil">
        Ventas completadas
    </div> #}


    <script>
        document.getElementById('attribute').addEventListener('change', function() {
            const attributeInput = document.getElementById('attribute-input');
            const attribute = this.value;
            let inputHtml = '<label for="new_value">Nuevo valor:</label><input type="text" id="new_value" name="new_value" />';
            attributeInput.innerHTML = inputHtml;
        });
    </script>
</body>
