{# templates/perfil.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{asset('CSS/perfil.css')}}">
</head>
<body>
    {% include 'cabecera.html.twig' %}
    <div id="foto-perfil">
        <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg" style="float: left; margin-right: 10px;">
            <defs>
                <pattern id="imgPattern" patternUnits="objectBoundingBox" width="1" height="1">
                    <image href="{{ asset(app.user.foto) }}" x="0" y="0" width="150" height="150" preserveAspectRatio="xMidYMid slice"></image>
                </pattern>
            </defs>
            <circle cx="75" cy="75" r="70" fill="url(#imgPattern)" stroke="black" stroke-width="2" />
        </svg>
    </div>

    <div id="datos-perfil">
        <table>
            <tr>
                <td>Nombre: {{app.user.nombreUsuario}}</td>
                <td>Email: {{app.user.email}}</td>
                <td>Saldo: {{ app.user.saldo|number_format(2, ',', '.') }} €</td>
            </tr>
            <tr>
                <td>Apellidos: {{app.user.apellidoUsuario}}</td>
                <td>Dirección: {{app.user.direccion}}</td>
                <td>Valoración: {{app.user.valoracion}}</td>
            </tr>
        </table>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div id="editar" class="cajas-perfil">
        <h2>Editar Perfil</h2>
        <label for="select-config">Selecciona una opción para editar:</label>
        <select id="select-config" onchange="showForm()">
            <option value="">Seleccionar...</option>
            <option value="form-nombre">Cambiar Nombre</option>
            <option value="form-apellidos">Cambiar Apellidos</option>
            <option value="form-contrasena">Cambiar Contraseña</option>
            <option value="form-correo">Cambiar Correo</option>
            <option value="form-direccion">Cambiar Dirección</option>
        </select> </br>

        <div id="form-nombre" class="form-config">
            <form action="{{ path('cambiar_nombre') }}" method="post">
                </br><label for="nuevo_nombre">Nuevo Nombre de Usuario:</label>
                <input type="text" id="nuevo_nombre" name="nuevo_nombre" required>
                <button type="submit">Cambiar Nombre</button>
            </form>
        </div>
        
        <div id="form-apellidos" class="form-config">
            <form action="{{ path('cambiar_apellidos') }}" method="post">
                </br><label for="nuevo_apellidos">Nuevos Apellidos de Usuario:</label>
                <input type="text" id="nuevo_apellidos" name="nuevo_apellidos" required>
                <button type="submit">Cambiar Apellidos</button>
            </form>
        </div>
           
        <div id="form-contrasena" class="form-config">
            <form action="{{ path('cambiar_contrasena') }}" method="post">
                </br><label for="nueva_contrasena">Nueva Contraseña:</label>
                <input type="password" id="nueva_contrasena" name="nueva_contrasena" required>
                <button type="submit">Cambiar Contraseña</button>
            </form>
        </div>
        
        <div id="form-correo" class="form-config">
            <form action="{{ path('cambiar_correo') }}" method="post">
                </br><label for="nuevo_correo">Nuevo Correo:</label>
                <input type="email" id="nuevo_correo" name="nuevo_correo" required>
                <button type="submit">Cambiar Correo</button>
            </form>
        </div>
        
        <div id="form-direccion" class="form-config">
            <form action="{{ path('cambiar_direccion') }}" method="post">
                </br><label for="nueva_direccion">Nueva Dirección:</label>
                <input type="text" id="nueva_direccion" name="nueva_direccion" required>
                <button type="submit">Cambiar Dirección</button>
            </form>
        </div></br>

    <form action="{{ path('perfil_cambiar_foto') }}" method="post" enctype="multipart/form-data">
        <label for="foto_perfil">Seleccionar foto de perfil:</label>
        <input type="file" id="foto_perfil" name="foto_perfil" accept="image/*">
        <button type="submit">Subir foto de perfil</button></br>
        <p>*Se recomienda foto de un tamaño de 400x200</br>
    </form>
        
        <form action="{{ path('borrar_cuenta') }}" method="post">
            <button type="submit" id="borrar">Borrar Cuenta</button>
        </form>
    </div>
    {% endif %}

    <script>
        function showForm() {
            const forms = document.querySelectorAll('.form-config');
            forms.forEach(form => form.style.display = 'none');
            
            const selectedValue = document.getElementById('select-config').value;
            if (selectedValue) {
                document.getElementById(selectedValue).style.display = 'block';
            }
        }
    </script>

    {% include 'footer.html.twig' %}
    {% include 'fondo.html.twig' %}
</body>
</html>
