{# templates/perfil.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{asset('CSS/perfil.css')}}">
</head>
<body>
    {% include 'cabecera.html.twig' %}
    <div id="foto-perfil">
        Foto de perfil
    </div>

    <div id="datos-perfil">
        <table>
            <tr>
                <td>Nombre: {{app.user.nombreUsuario}}</td>
                <td>Email: {{app.user.email}}</td>
                <td>Saldo: {{app.user.saldo}}</td>
            </tr>
            <tr>
                <td>Apellidos: {{app.user.apellidoUsuario}}</td>
                <td>Dirección: {{app.user.direccion}}</td>
                <td>Valoración: {{app.user.valoracion}}</td>
            </tr>
        </table>
    </div>

    <div id="editar" class="cajas-perfil">
        Editar Perfil
    </div>

    <div id="reservas" class="cajas-perfil">
        Reservas pendientes
    </div>

    {# <div id="inventario" class="cajas-perfil">
        Mis productos
    </div>

    <div id="ventas" class="cajas-perfil">
        Ventas completadas
    </div> #}
</body>
