{# templates/zonaAdmin.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset ('CSS/zonaAdmin.css')}}">
</head>
<body>
    <div id="header">
        <h2>Zona de Administración</h2>
    </div>
    <ul>
        <li><a href="{{path('admin_products')}}">Productos</a></li>
        <li><a href="{{path('inicio')}}">Marca</a></li>
        <li><a href="{{path('inicio')}}">Plataforma</a></li>
        <li><a href="{{path('inicio')}}">Usuarios</a></li>
        <li><a href="{{path('inicio')}}">Otros</a></li>
        <li><a href="{{path('app_logout')}}">Salir Zona Administración</a></li>
    </ul>
    <div id="contenido">
        <h2>Bienvenido a la Zona de Administración de Neo-Game {{app.User.NombreUsuario}}</h2>
        <p>Para realizar configuraciones de la página ve a su correspondiente apartado con el menú </p>

        <h3>Guía de administrador</h3>
        <ol>
            <b>Productos</b>
            <li>Editar Productos</li>
            <li>Subir Productos</li>
            <li>Borrar Productos</li>
        </ol>

        <ol>
            <b>Marca</b>
            <li>Editar Marca</li>
            <li>Subir Marca</li>
            <li>Borrar Marca</li>
        </ol>

        <ol>
            <b>Plataforma</b>
            <li>Editar Plataforma</li>
            <li>Subir Plataforma</li>
            <li>Borrar Plataforma</li>
        </ol>

        <ol>
            <b>Usuarios</b>
            <li>Cambiar datos de Usuario</li>
            <li>Borrar cuenta</li>
            <li>Añadir saldo</li>
            <li>Quitar saldo</li>
        </ol>

        <ol>
            <b>Otros</b>
            <li>Crear código de descuento</li>
        </ol>
    <div>
</body>
</html>
